$classNamePrefix: disque-flex-layout;

.#{$classNamePrefix}-root {
  width: 100%;
  height: 100%;
  display: flex;

  &.#{$classNamePrefix}-column {
    flex-direction: column;

    > .#{$classNamePrefix}-head, .#{$classNamePrefix}-tail {
      width: 100%;
    }
  }

  &.#{$classNamePrefix}-row {
    > .#{$classNamePrefix}-head, .#{$classNamePrefix}-tail {
      height: 100%;
    }
  }

}
