$classNamePrefix: disque-file-base;

.#{$classNamePrefix}-root {

  background-color: inherit;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .#{$classNamePrefix}-icon {
    width: 100px;
    height: 100px;
  }

  .#{$classNamePrefix}-name {
    color: #fff;
  }
}
