$classNamePrefix: disque-home-top;

.#{$classNamePrefix}-root {
  padding-left: 10px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  .#{$classNamePrefix}-file-path {
    height: 40px;
    display: flex;
    align-items: center;
    color: rgba(#fff, 0.36);

    &:hover {
      color: rgba(#fff, 0.5);
    }
  }
}
