$classNamePrefix: disque-home;

.#{$classNamePrefix}-root {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .#{$classNamePrefix}-file-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    box-sizing: border-box;
    padding: 10px;
  }
}
